.ruleLine {
  text-decoration: none;
  color: whitesmoke;
  padding: 10px 20px;
  width: 70%;
  height: auto;
  float: left;
}

.RulesTable {
  font-size: 1.2rem;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}

.SearchTable {
  font-size: 1.2rem;
  padding: 10px 60px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
}

.rule {
  width: 30vw;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  word-wrap: break-word;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: hidden;
  align-self: flex-start;
}

.ruleTable {
  width: 80vw;
  margin: 20px 40px;
}

.ruleTable .ruleLine {
  margin: 10px;
}

.rule::-webkit-scrollbar {
  background-color: #222222;
}

.rule::-webkit-scrollbar-thumb {
  background: radial-gradient(ellipse at top, #0abbe7 0%, #3e275c 100%);
}

.ruleLine:first-child {
  height: auto;
  background: radial-gradient(ellipse at top, #664197 0%, #372252 100%);
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding-right: 40px;
  font-weight: 600;
  font-size: 1.6rem;
  font-family: 'Bree Serif', serif;
  pointer-events: none;
  text-shadow: 2px 2px 4px black;
}

.ruleLine:last-child {
  padding-bottom: 40px;
}

.ruleLine:hover {
  text-shadow: 2px 2px 4px lightseagreen;
}

.ruleLineSearch {
  text-decoration: none;
  color: whitesmoke;
  margin: 20px 30px;
  width: 100%;
  float: left;
}

.ruleLineSearch:hover {
  text-shadow: 3px 4px 5px lightseagreen;
}

.tableContents {
  color: whitesmoke;
  font-family: 'Bree Serif', serif;
  text-align: center;
  margin: 2px;
}

.ruleLineN:first-child {
  background: radial-gradient(ellipse at top, #664197 0%, #372252 100%);
  padding-right: 40px;
  font-weight: 600;
  font-size: 1.6rem;
  font-family: 'Bree Serif', serif;
  text-shadow: 2px 3px 4px black;
}

.ruleLineN:last-child {
  padding-bottom: 140px;
}

.ruleLineN {
  text-decoration: none;
  color: whitesmoke;
  padding: 20px 40px;
  width: 100%;
  float: left;
}

.searchFail {
  padding-top: 60px;
  color: whitesmoke;
  text-align: center;
  margin: 2px;
}
